.style{
    flex-direction: column;
}
.service-section{
    margin: 5vh 10vw;
}
h2,p{
    color: aliceblue;
}
.service-button  
{
    display: inline-block;
    padding: 10px 10px; /* Adjust padding as needed */
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-align: center;
    text-decoration: none; /* Removes default underline */
    border: none; /* Removes default button border */
    border-radius: 5px; /* Rounds the button corners */
    color: #ffffff; /* Text color */
    background-color: #65a5eb; /* Background color */
}  

